spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/elifoot
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none   # none (recomendado quando usa Flyway), update/create-drop apenas em desenvolvimento
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
    user: postgres
    password: postgres

server:
  port: 8080
